<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Список объявлений</h1>

    {% if post %}
        {% for p in post %}
            <p><strong>Владелец:</strong> {{ p.user }}</p>
            <p><strong>Площадь:</strong> {{ p.square }} м²</p>
            <p><strong>Город:</strong> {{ p.city }}</p>
            <p><strong>Улица:</strong> {{ p.street }}</p>
            <p><strong>Тип недвижимости:</strong> {{ p.get_property_type_display }}</p>

            {% if p.img %}
                <img src="{{ p.img.url }}" alt="Фото недвижимости">
            {% else %}
                <p>Изображение отсутствует</p>
            {% endif %}

                <button><a href="descrip_page.html">Подробнее</a></button>

            <hr>
        {% endfor %}
    {% else %}
        <p>Нет доступных объявлений.</p>
    {% endif %}

</body>
</html>
``
