<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
    <h1>Список объявлений</h1>

    {% for p in post %}

        <p><strong>Владелец:</strong> {{ p.user }}</p>
        <p><strong>Площадь:</strong> {{ p.square }} м²</p>
        <p><strong>Город:</strong> {{ p.city }}</p>
        <p><strong>Улица:</strong> {{ p.street }}</p>
        <p><strong>Тип недвижимости:</strong> {{ p.get_property_type_display }}</p>
        <hr>
    {% endfor %}

</body>
</html>
